.title {
    justify-content: center;
}

.title h2 {
    font-size: 48px;
}

.checkArea {
    position: relative;
    text-align: center;
    width: 800px;
}
.imageBox {
    justify-content: center;
}

.nameField {
    position: absolute;
    top: 120px;
    left: 140px;
    font-size: 14px;
    color: black;
}

.dateField {
    position: absolute;
    top: 45px;
    right: 140px;
    font-size: 23px;
}

.amountField {
    position: absolute;
    font-size: 11px;
    top: 120px;
    right: 60px;
}

.writtenAmount {
    position: absolute;
    font-size: 23px;
    bottom: 145px;
    left: 75px
}

.signField {
    position: absolute;
    font-size: 23px;
    bottom: 80px;
    right: 140px;
}

.memoField {
    position: absolute;
    font-size: 23px;
    bottom: 80px;
    left: 100px;
}

.checkImage {
    height: 100%;
    width: 100%;
}

.bank {
    position: absolute;
    left: 10px;
    bottom: 400px;
    font-size: 20px;
}

.bankImage {
    height: 200px;
    width: 300px;
}

.arrowImage {
    position: absolute;
    height: 45px;
    width: 100px;
    top: 100px;
}

.bounce {
    position: absolute;
    right: 10px;
    width: 380px;
    bottom: 440px;
    height: 200px;
}

.bounceImage {
    position: absolute;
    height: 50px;
    width: 100px;
    bottom: 10px;
    left: 100px;
    transform: rotate(270deg);
}

.bounce p {
    position: relative;
    bottom: 10px;
}