.title {
    justify-content: center;
}

.title h2 {
    font-size: 48px;
}

.checkArea {
    position: relative;
    text-align: center;
    width: 800px;
}
.imageBox {
    justify-content: center;
}


.checkImage {
    height: 100%;
    width: 100%;
    padding-top: 30px;
}

.center p {
    padding-top: 30px;
    width: 30%;
}

.bank {
    position: absolute;
    left: 10px;
    bottom: 400px;
    font-size: 20px;
}

.bankImage {
    height: 200px;
    width: 300px;
}

.arrowImage {
    position: absolute;
    height: 45px;
    width: 100px;
    top: 100px;
}

.bounce {
    position: absolute;
    right: 10px;
    width: 380px;
    bottom: 440px;
    height: 200px;
}

.bounceImage {
    position: absolute;
    height: 50px;
    width: 100px;
    bottom: 10px;
    left: 100px;
    transform: rotate(270deg);
}

.bounce p {
    position: relative;
    bottom: 10px;
}