.title {
    text-align: center;
    margin-top: -3%;
    padding-bottom: 3%;
}

.title h2 {
    font-size: 60px;
}

.cd-column {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-color: black;
    padding-left: 1px;
    padding-right: 1px;
  }

  .cd-row {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }


.column-header {
  display: inline-block;
  max-height: 100px;
  width: 100px;
  height: 100px;
  left: auto;
  right: auto;
  margin-bottom: 90px;
}

.column-header img {
  height: 100%;
  width: auto;
}

#button {
  border: None;
  background: #5adab3;
  font-weight: bold;
}

#button:hover {
  color: #5adab3;
  background: #5adab324;
}
