.title {
    justify-content: center;
}

.title h2 {
    font-size: 48px;
}

.cd-column {
    flex: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cd-row {
    display: flex;
    margin: 0 auto;
  }


